
    <div class="column is-one-fifty">
    {% for product in products %}
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <div class="card-image">
                            {% if product.image %}
                            <figure class="image is-4by3">
                                <img src="{{ product.get_thumbnail }}" alt="{{product.name}}">
                              </figure>
                            {% endif %}
                        </div>
                    </div>
                    <div class="media-content">
                        {{product.created_at}}
                    </div>

                </div>
            </div>
            <div class="card-header">
                {{product.name}}
            </div>
            <div class="card-content">
                <div class="content">
                    {{product.description}}
                </div>
                <div class="card-footer">
                    <div class="card-footer-item">

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
